*
{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

#upper-space
{
    height: 2vh;
    background-color: rgb(0, 60, 91);
}

#lower-space
{
    height: 1vh;
    background: red;
}

#bar
{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

#logo
{
    flex: 0.6;
    width: 1vw;
}

h1
{
    flex: 2;
    font-size: 30px;
}

nav
{
    flex: 5;
    height: 3vh;
}

.nav-links
{
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
}

.nav-link
{
    flex: 3;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#selected, .nav-link:hover
{
    color: white;
    background: lightseagreen;
    border: black solid;
    border-width: 3px;
    border-radius: 5px;
}